# fastapi
# uvicorn
# jinja2
# python-multipart
# python-dotenv
# google-genai
# chromadb
# pymupdf
# langchain-text-splitters
fastapi
uvicorn
jinja2
python-multipart
python-dotenv
google-genai
chromadb
pymupdf
langchain-text-splitters